.main {
  padding: 1rem;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem 3rem 1rem;
}

.mainHeader h4 {
  font-size: 20px;
  font-weight: bold;
}

.authButtons {
  padding: 10px;
  border-radius: 5px;
  background-color: #ff5722;
  color: #fff;
  text-decoration: none;
}

.heading {
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.panelContainer {
  display: flex;
  flex-wrap: wrap;
}

.panelContainer li {
  flex: 32%;
  margin: 10px;
  list-style: none;
}
