.main {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}
.authButtons {
  padding: 10px;
  border-radius: 5px;
  background-color: #ff5722;
  color: #fff;
  text-decoration: none;
}

.signUpBtn {
  background-color: #ff5722;
  margin-right: 5px;
}
.loginBtn {
  background-color: #25922d;
}
