.card p {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: rgb(21 107 147);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 0.05rem;
  text-decoration: none;
}

.bar {
  width: 40px;
  height: 3px;
  margin: 20px 0;
  border: 0;
  background-color: #0099a8;
}
