.panel {
  border: 1px solid #bababa;
  padding: 30px;
}

.panel h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
.panel p {
  margin-bottom: 20px;
}

.panel p,
.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: rgb(21 107 147);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 0.05rem;
  text-decoration: none;
}

.bar {
  width: 40px;
  height: 3px;
  margin: 20px 0;
  border: 0;
  background-color: #0099a8;
}

.divider {
  margin: 25px 0px;
  border-color: #fff;
}
